{% extends "layout.html" %}
{% block body %}
    <body>
        <div class="container pt-4">
            <form action="/update_player/{{player.0}}" method="POST">
                <input value="{{player.1}}" type="text" name="playerName" placeholder="Nombre de Jugador">
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                <a href="/ver_Players" class="btn btn-primary btn-block"> Cancel </a>
            </form>
        </div>
    </body>
{% endblock %}