{% extends "layout.html" %}
{% block body %}

    <head>

        <meta charset="UTF-8">
        <title>INTENTO</title>
    </head>
    <body>
        <div class="container pt-4">
            <form action="/guardarCarta" method="POST">
                <input  type="number"  name="type" placeholder="Tipo de carta">
                <input  type="text"    name="content" placeholder="Ingrese frase">
                <input  type="text"    name="content2" placeholder="Ingrese frase">
                <input  type="text"    name="content3" placeholder="Ingrese frase">
            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
        </div>


                <tr>
                  <table class="table table-hover">
                    <tbody>
                    <tr class="table-active">
                        {%for c in cartas%}

                            <div class="card container-fluid" >
                                    <div class="grid-item card border-primary" style="max-width: 15rem;">
                                        <div class="card-header">Carta {{c.1}}</div>
                                        <div class="card-body">
                                        <p class="card-text">{{c.0}}</p>
                                        <button type="button" class="btn btn-outline-success">Seleccionar</button>
                                        <a type="button" class="btn btn-outline-danger test1" href="/borrarCarta/{{c.1}}">Borrar</a>
                                        </div>
                                    </div>
                            </div>

                    </tr>
                        {%endfor%}
                     </tbody>
                    </table>
                </tr>



    </body>

{% endblock %}