{% extends "layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>CAH</title>
</head>
<body>
    <img class="center" src="../static/css/resources/logoWide.png">
    <h2 class="center">Reglas basicas del juego</h2>
    <p class="lead"><span class="badge rounded-pill bg-primary">1</span> Se reparten 10 cartas de respuesta a cada jugador.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">2</span> Se elige el juez del primer turno. El mismo tomara una carta de pregunta (negra) y la lee en alto.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">3</span> Los demás jugadores tienen que entregar al juez la carta de respuesta (blanca) más divertida que tengan.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">4</span> El juez mezcla las cartas sin verlas y lee las respuestas en alto una a una.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">5</span> El juez elige la carta que más le gusta y el dueño la misma recibe un punto.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">6</span> Se descartan todas las cartas y se vuelve a repartir a cada jugador.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">7</span> Se elige otro juez y comienza otra ronda hasta que decide terminar la partida.</p>
    <p class="lead"><span class="badge rounded-pill bg-primary">8</span> Gana el jugador con mas puntos.</p>
</body>
{% endblock %}