{% extends 'layout.html' %}
{% block body %}
<head>
    <title>CAH</title>
</head>
<body>
    <img class="center" src="../static/css/resources/text.png"
         width="500" height="500"
         alt="Please work">

    <a href="/beginGame" class="btn btn-outline-primary" style="display: block;
         margin-left: auto;margin-right: auto;max-width: 100%;" >COMENZAR</a>
</body>
{% endblock %}