{% extends 'layout.html' %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAH</title>
</head>

<body class="bg-white">
    <form action="/enviar" method="post">
        <div class="container-md mt-5">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {%for message in messages%}
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{message}}</strong>.
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            <!--Carta Negra-->
            <div class="col text-start bg-black border-2 border m-2 p-2">
                <p class="text-white">{{ text(black_card) }}</p><br>
            </div>

            <p>jugador {{idj}}  juez {{juez}}</p>
            {%if idj==juez %}
                <!--comando para recargar pagina-->
                <meta http-equiv="refresh" content="15" >
                <div class="juez" onload="actualizar()">
                    <p>Respuestas {{crespuestas}} de {{contplayer}}</p>
                    {%if crespuestas==contplayer %}
                        {%set cardselects = respuestas %}
                        <div class="row align-items-center justify-content-center">
                            {% for card in cardselects %}
                            <div class="col text-start bg-secondary border-2 border m-2 p-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="{{card.2}}" name="cganador" id="{{card.2}}">
                                    <label class="form-check-label" for="{{card.2}}">
                                                <p class="text-black">{{ text(card.1) }}</p><br>
                                    </label>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        </div>
                    {%endif%}  
                {% else %}
                    <p>jugador</p>
                    <div class="row align-items-center justify-content-center">
                        {% for card in cards%}
                        <div class="col text-start bg-secondary border-2 border m-2 p-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{card.1}}" name="card" id="{{card.1}}">
                                <label class="form-check-label" for="{{card.1}}">
                                            <p class="text-black">{{ text(card.1) }}</p><br>
                                </label>
                            </div>
                        </div>
                        {%endfor%}
                </div>
            {%endif%}
            <div class="row align-items-center justify-content-center">
                <div class="col-1">
                    <input type="hidden" value="{{idj}}" name="idjugador">
                    <input type="submit" class="btn-primary btn">
                </div>
            </div>
        </div>  
    </form>
</body>
<script language="JavaScript">
    function actualizar() {
        setTimeout('document.location.reload()',5000);
    }
    </script>
</html>
{% endblock %}