<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCH</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cartas contra la humanidad</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opciones</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/cartasPage">Cargar Cartas</a>
            <a class="dropdown-item" href="/playerPage">Cargar Jugadores</a>
            <a class="dropdown-item" href="/info">Como jugar</a>
          </div>
        </li>
      </ul>
    </div>
        </div>
    </nav>
    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>

<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>