{% extends "layout.html" %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Jugadores</title>
    </head>
    <body>
        <div class="container pt-4">
            <form action="/agg_player" method="POST">
                <input type="text" name="playerName" placeholder="Nombre de Jugador">
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                <a href="/" class="btn btn-primary btn-block"> Cancel </a>
            </form>
            <table>
                <tr>
                    <th>Nombres</th>
                    <th>Acciones</th>
                </tr>
                {%for p in players%}
                    <tr>
                        <td>{{p.1}}</td>
                        <td>
                            <a href="/edit_player/{{p.0}}" type="button" class="btn btn-outline-warning">Editar</a>
                            <a href="/delete_player/{{p.0}}" type="button" class="btn-delete btn btn-outline-danger">Borrar</a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </body>
{% endblock %}