.wrapper {
  display: flex;
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  flex-direction: row;
  justify-content: center;

}

.mazo{
    width: 100px;
    height: 150px;
    margin: 0px 10px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

